@import 'reset';

*{

	box-sizing: border-box;
}

/* FONTS */

@font-face{

	font-family: "free";
	src: url("../fonts/freeuniversal/FreeUniversal-Regular.ttf");
	font-style: normal;
	font-weight: normal;
} 

@font-face{

	font-family: "free";
	src: url("../fonts/freeuniversal/FreeUniversal-Italic.ttf");
	font-style: italic;
	font-weight: normal;
} 

@font-face{

	font-family: "free";
	src: url("../fonts/freeuniversal/FreeUniversal-Bold.ttf");
	font-style: normal;
	font-weight: bold;
} 


/* VARIABLES */

@mixin title{

	font-size: 1.5rem;
	line-height: 1.75rem;
	
}

@mixin subtitle{

	color: red;
	margin: 1rem 0 0.5rem 0;
	padding-top: 1rem;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: bold;

}


/* GENERAL */

html{

	font-size: 24px;
}

a{

	color: blue;
}

body{

	font-family: "free";
	line-height: 1.4rem;
	padding: 2rem 3rem 1rem 3rem;
	background: #eee;
	margin: 0 0 6rem 0;


	nav{

		top: 0;
		right: 0;
		position: fixed;
		overflow-y: scroll;
		height: 100vh;
		background: #fff;

		#menu{

			display: none;
		}

		a{

			display: block;
			padding: 0 0.5rem 0 0.5rem;

		}


		>*{

			margin: 0 0 1rem 0;

		}

		.pages{

			a{

				background: #fff;
			}

			a:hover,
			a.current{

				background: blue;
				color: #fff;
			}
		}
		.submenu{

			text-transform: uppercase;
			font-size: 0.8rem;
			line-height: 1.2rem;

			a{
				color: red;

			}
		}
	}


	.false{

		text-align: center;
		display: inline-block;
		padding: 0.5rem;
		font-size: 1.5rem;
		line-height: 1.75rem;
		border: solid 1px;
		background: yellow;
		font-family: cursive;
		margin-top: 2rem;
		display: none;

		>*{

			display: inline;
		}
	}

	.false::before{

		content: "⚠ ";
	}

	.false::after{

		content: " ⚠";
	}

	main{

		max-width: 50rem;

		a{
			text-decoration: underline;
			word-break: break-all;
		}

		p:not(:first-of-type){

			margin: 0 0 1.4rem;
		}

		ul{

			li::before{

				content: "— ";



			}

			ul{

				margin-left: 2rem;

				li::before{

					content: "⚬ ";
				}
			}
		}

		em{

			font-style: italic;
		}

		strong{

			font-weight: bold;
			color: red;
		}

	}

}

/* WORK PAGES */

body.work{

	header{

		margin: 0 0 2rem 0;
		max-width: 50rem;

		>*{

			width: 50%;
		}

		.head{

			@include title;
			margin: 0 0 1rem 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;

			>div{

				width: 50%;

			}

			.number{

				font-size: 3rem;
				line-height: 3rem;
				text-align: right;
			}

			h2{

				font-style: italic;
			}

		}

		.details{

			margin: 0 0 1rem 0;
			padding: 0 0 0 50%;
			width: 100%;
		}

		.links{

			a{

				text-decoration: underline;
			}
		}
	}

	main{

		.text{

			h3{

				@include subtitle;

			}

		}
	}
}

/* INTRO PAGES */

body.intro{

	h1{

		@include title;
		margin: 0 0 3rem 0;
	}


	h2{

		@include subtitle;

	}


	h3{

		margin-bottom: 1rem;
		margin-top: 2rem;

	}

}


/* HOME */

#home{

	background: #000;
	color: #eee;

	h1{

		font-size: 4rem;
		line-height: 5rem;
		width: 40vw;
	}

	nav{

		width: 50vw;
	}

}

/* PRINT */

@media print{

	html{

		font-size: 13pt;
	}

	body{

		padding: 0;

		.false{

			display: none;
		}

		nav{

			display: none;
		}

	}

}


/* RESPONSIVE */


@media screen and (max-width:1280px){

	html{

		font-size: 20px;
	}

	body{

		padding: 2rem 2rem 1rem 2rem;

		main{

			max-width: calc(100% - 12rem);
		}

	}

	body.work{

		header{

			max-width: calc(100% - 12rem);
		}
	}
}

@media screen and (max-width: 700px){

	/* GENERAL */

	html{

		font-size: 16px;
	}

	body{

		padding: 0.5rem;

		nav{

			background: transparent;
			height: unset;

			.submenu{

				display: none;
			}

			#menu{

				display: block;
				position: fixed;
				background: blue;
				width: 100%;
				bottom: 0;
				margin: 0;
				right: 0;
				color: #fff;
				padding: 0.25rem;
				text-align: center;
				z-index: 999999;
			}

			#menu::after{

				content: "☰ ☰ ☰ ☰";
			}

			a{

				display: none;

			}
		}

		nav.active{

			background: #ffff;
			height: 100vh;
			width: 100vw;

			a{

				display: block;

			}

			#menu{

				background: red;
				width: 100%;
			}

			#menu::after{

				content: "× × × ×";
			}
		}

		main{

			max-width: 100%;
		}
	}

	/* WORK PAGES */

	body.work{

		header, main{

			max-width: 100%;

		}

		header{

			.head{

				>div{

					width: unset;
				}

				.number{

					display: none;
				}

			}

			.details{

				padding: 0 10% 0 0;
			}
		}
	}

	/* HOME */

	#home{

		background: #000;
		color: #eee;

		h1{

			word-break: break-all;
		}

		nav{

			width: 50vw;
		}

	}


}