@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

* {
  box-sizing: border-box; }

/* FONTS */
@font-face {
  font-family: "free";
  src: url("../fonts/freeuniversal/FreeUniversal-Regular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "free";
  src: url("../fonts/freeuniversal/FreeUniversal-Italic.ttf");
  font-style: italic;
  font-weight: normal; }

@font-face {
  font-family: "free";
  src: url("../fonts/freeuniversal/FreeUniversal-Bold.ttf");
  font-style: normal;
  font-weight: bold; }

/* VARIABLES */
/* GENERAL */
html {
  font-size: 24px; }

a {
  color: blue; }

body {
  font-family: "free";
  line-height: 1.4rem;
  padding: 2rem 3rem 1rem 3rem;
  background: #eee;
  margin: 0 0 6rem 0; }
  body nav {
    top: 0;
    right: 0;
    position: fixed;
    overflow-y: scroll;
    height: 100vh;
    background: #fff; }
    body nav #menu {
      display: none; }
    body nav a {
      display: block;
      padding: 0 0.5rem 0 0.5rem; }
    body nav > * {
      margin: 0 0 1rem 0; }
    body nav .pages a {
      background: #fff; }
    body nav .pages a:hover,
    body nav .pages a.current {
      background: blue;
      color: #fff; }
    body nav .submenu {
      text-transform: uppercase;
      font-size: 0.8rem;
      line-height: 1.2rem; }
      body nav .submenu a {
        color: red; }
  body .false {
    text-align: center;
    display: inline-block;
    padding: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
    border: solid 1px;
    background: yellow;
    font-family: cursive;
    margin-top: 2rem;
    display: none; }
    body .false > * {
      display: inline; }
  body .false::before {
    content: "⚠ "; }
  body .false::after {
    content: " ⚠"; }
  body main {
    max-width: 50rem; }
    body main a {
      text-decoration: underline;
      word-break: break-all; }
    body main p:not(:first-of-type) {
      margin: 0 0 1.4rem; }
    body main ul li::before {
      content: "— "; }
    body main ul ul {
      margin-left: 2rem; }
      body main ul ul li::before {
        content: "⚬ "; }
    body main em {
      font-style: italic; }
    body main strong {
      font-weight: bold;
      color: red; }

/* WORK PAGES */
body.work header {
  margin: 0 0 2rem 0;
  max-width: 50rem; }
  body.work header > * {
    width: 50%; }
  body.work header .head {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin: 0 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }
    body.work header .head > div {
      width: 50%; }
    body.work header .head .number {
      font-size: 3rem;
      line-height: 3rem;
      text-align: right; }
    body.work header .head h2 {
      font-style: italic; }
  body.work header .details {
    margin: 0 0 1rem 0;
    padding: 0 0 0 50%;
    width: 100%; }
  body.work header .links a {
    text-decoration: underline; }

body.work main .text h3 {
  color: red;
  margin: 1rem 0 0.5rem 0;
  padding-top: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold; }

/* INTRO PAGES */
body.intro h1 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 0 0 3rem 0; }

body.intro h2 {
  color: red;
  margin: 1rem 0 0.5rem 0;
  padding-top: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold; }

body.intro h3 {
  margin-bottom: 1rem;
  margin-top: 2rem; }

/* HOME */
#home {
  background: #000;
  color: #eee; }
  #home h1 {
    font-size: 4rem;
    line-height: 5rem;
    width: 40vw; }
  #home nav {
    width: 50vw; }

/* PRINT */
@media print {
  html {
    font-size: 13pt; }
  body {
    padding: 0; }
    body .false {
      display: none; }
    body nav {
      display: none; } }

/* RESPONSIVE */
@media screen and (max-width: 1280px) {
  html {
    font-size: 20px; }
  body {
    padding: 2rem 2rem 1rem 2rem; }
    body main {
      max-width: calc(100% - 12rem); }
  body.work header {
    max-width: calc(100% - 12rem); } }

@media screen and (max-width: 700px) {
  /* GENERAL */
  html {
    font-size: 16px; }
  body {
    padding: 0.5rem; }
    body nav {
      background: transparent;
      height: unset; }
      body nav .submenu {
        display: none; }
      body nav #menu {
        display: block;
        position: fixed;
        background: blue;
        width: 100%;
        bottom: 0;
        margin: 0;
        right: 0;
        color: #fff;
        padding: 0.25rem;
        text-align: center;
        z-index: 999999; }
      body nav #menu::after {
        content: "☰ ☰ ☰ ☰"; }
      body nav a {
        display: none; }
    body nav.active {
      background: #ffff;
      height: 100vh;
      width: 100vw; }
      body nav.active a {
        display: block; }
      body nav.active #menu {
        background: red;
        width: 100%; }
      body nav.active #menu::after {
        content: "× × × ×"; }
    body main {
      max-width: 100%; }
  /* WORK PAGES */
  body.work header, body.work main {
    max-width: 100%; }
  body.work header .head > div {
    width: unset; }
  body.work header .head .number {
    display: none; }
  body.work header .details {
    padding: 0 10% 0 0; }
  /* HOME */
  #home {
    background: #000;
    color: #eee; }
    #home h1 {
      word-break: break-all; }
    #home nav {
      width: 50vw; } }
